/DotNetRepo/MyFinance/MyFinance.Data/bin
/DotNetRepo/MyFinance/MyFinance.Service/bin
/DotNetRepo/MyFinance/MyFinance.Console/bin
/DotNetRepo/MyFinance/MyFinance.Domain/bin
/DotNetRepo/MyFinance/MyFinance.Domain/obj
/DotNetRepo/MyFinance/MyFinance.Data/obj
/DotNetRepo/MyFinance/MyFinance.Service/obj
/DotNetRepo/MyFinance/MyFinance.Console/obj
